h1{
    color: aquamarine;
    font-family: sans-serif;
    font-style: oblique;
}
h2{
    font-size: large;
    font-style:oblique;
    color: lightcoral;
}
h3{
    font-style: oblique;
    font-size: large;
    color: lightcoral;
}
p{
    font-size: small;
    display: -ms-flexbox;
    font-style: italic;
}
li{
    font-size: small;
    font-style: italic;
    display: -ms-flexbox;
}
body{
    background-image: url(../pet-website/images/download\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-attachment: fixed;
    background-size:70% 100%;
    display: left;
    height: 100%;
    width: 100%;
    padding-left: 10p
}
img{
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    max-width: 100%;
}
*{
    background-color:;
}